# Build output
bin/
obj/

# User-specific VS/Rider files
*.user
*.suo
.vs/
.idea/
*.DotSettings.user

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Logs / temp
*.log
*.tmp

# NuGet
*.nupkg
packages/

# Resharper
_ReSharper*/
*.resharper

# Rider
.idea/

# VS Code
.vscode/

# dotnet publish output
publish/
